################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/L3Task2/obj
/L3Task2/Properties
/.vs
/Lesson3/obj
/Lesson3/bin/Debug
/Lesson3Task2/obj
/Lesson3/Properties
/L3Task2/App.config
/L3Task2/L3Task2.csproj
/L3Task2/L3Task2.csproj.user
/Lesson3/App.config
/Lesson3/Lesson3.csproj
/Lesson3Task2/Properties
/Lesson3Task2/App.config
/Lesson3Task2/Lesson3Task2.csproj
/Lesson3.sln
